  
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

#snowflake {
    width: 80%;
    height: 80%;
    animation: spin 35s linear infinite;
}

.App {
    text-align: center;
  }
  
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}
  
h1 {
    font-size: 2em;
}